<head>
    <title>Easytel User</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<link rel="stylesheet" href="/styles/style.css">
<h1>User Profile</h1>
<div class="section-box" id="user-data">
    
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>First Name:</strong> <%= user.first_name %></p>
    <p><strong>Last Name:</strong> <%= user.last_name %></p>
    <p><strong>Sex:</strong> <%= user.sex %></p>
    <p><strong>Age:</strong> <%= user.age %></p>
    <p><strong>Contact Number:</strong> <%= user.contact_number %></p>
    <p><strong>Birthday:</strong> <%= user.birthday %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Address:</strong> <%= user.address %></p>
</div>

<h1>ID</h1>
<div class="front-id-box section-box">
</div>

<div class="buttons">

    <form action="edit" method="get">
        <button type="submit">Edit</button>
    </form>
    
    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>

</div>

<a href="/delete">Delete Account</a>


