<head>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<link rel="stylesheet" href="/styles/style.css">
<h1>User Profile</h1>
<div class="section-box" id="user-data">
    
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>First Name:</strong> <%= user.first_name %></p>
    <p><strong>Last Name:</strong> <%= user.last_name %></p>
    <p><strong>Sex:</strong> <%= user.sex %></p>
    <p><strong>Age:</strong> <%= user.age %></p>
    <p><strong>Contact Number:</strong> <%= user.contact_number %></p>
    <p><strong>Birthday:</strong> <%= user.birthday %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Address:</strong> <%= user.address %></p>
    <p><strong>Active:</strong> <%= user.active.toString('hex') %></p>
</div>
<div class="buttons">
    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>
    <form action="dash" method="post">
        <button type="submit">Edit</button>
    </form>
</div>
<h1>Bookings</h1>
<div id="bookings">
    <% if (bookings.length > 0) { %>
    <div class="booking-row">
        <% bookings.forEach(function(booking) { %>
        <p class="section-box"><strong>Booking ID:</strong> <%= booking.id %><br>
            <strong>Check-in:</strong>  <%= booking.checkin %><br> <strong>Check-out: </strong><%= booking.checkout %></p>
        <% }); %>
        
    </div>
    <% } else { %>
    <p>No bookings found.</p>
    <% } %>
</div>



