<head>
    <title>Easytel User</title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link rel="stylesheet" href="/styles/style.css">
<h1>User Profile</h1>
<div class="section-box" id="user-data">
    
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>First Name:</strong> <%= user.first_name %></p>
    <p><strong>Last Name:</strong> <%= user.last_name %></p>
    <p><strong>Sex:</strong> <%= user.sex %></p>
    <p><strong>Age:</strong> <%= user.age %></p>
    <p><strong>Contact Number:</strong> <%= user.contact_number %></p>
    <p><strong>Birthday:</strong> <%= user.birthday %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Address:</strong> <%= user.address %></p>
</div>

<div class="buttons">
    <form action="edit" method="get">
        <button type="submit">Edit</button>
    </form>

    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>
</div>

<h1>ID</h1>
<% if (user.hasID == 0) {%>
    <div class="section-box">No ID's Found.</div>
<% } else if (user.hasID == 1) {%>
    <div class="section-box id-box">

        <img src="<%= locals.frontFilePath %>" alt="Front ID">
    </div>
    <div class="section-box id-box">

        <img src="<%= locals.backFilePath %>" alt="Back ID">
    </div>
<% } %>
<form action="editID">
    <button type="submit">Edit ID</button>
</form>

<a href="/delete">Delete Account</a>


