<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>User Profile</h1>
    <div class="section-box" id="user-data">
        
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>First Name:</strong> <%= user.first_name %></p>
        <p><strong>Last Name:</strong> <%= user.last_name %></p>
        <p><strong>Sex:</strong> <%= user.sex %></p>
        <p><strong>Age:</strong> <%= user.age %></p>
        <p><strong>Contact Number:</strong> <%= user.contact_number %></p>
        <p><strong>Birthday:</strong> <%= user.birthday %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Address:</strong> <%= user.address %></p>
        <p><strong>Active:</strong> <%= user.active %></p>
    </div>
    <div>
        
    </div>

    <form id="reservation_form" method="POST" action="userdata" name="reservation_form" autocomplete="on">

        <div class="section-box">
            <div class="input-group">
                <label for="checkout"><h3>Check-out</h3></label>
                <input class="textbox" type="date" id="checkout" name="checkout">
            </div>
            <div class="input-group">
                <label for="checkin"><h3>Check-in</h3></label>
                <input class="textbox" type="date" id="checkin" name="checkin">
            </div>

            <div class="input-group divided">
                <div class="divider">
                    <label for="adults">Adults</label>
                    <input class="textbox" type="number" name="adults" id="adults" value="1">
                </div>
                <div class="divider">
                    <label for="children">Children</label>
                    <input class="textbox" type="number" name="children" id="children" value="0">
                </div>
                <div class="divider">
                    <label for="room">Room</label>
                    <input class="textbox" type="number" name="room" id="room" value="0">
                </div>
            </div>
            <div class="input-group">
                <label for="status">Status</label>
                <select class="textbox" name="status" id="status">
                    <option value="checked-in">Checked-in</option>
                    <option value="checked-out">Checked-out</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
        </div>
    </form>

    <div class="buttons">
        <input value="Save" class="submit" id="reservation_button" name="reservation_button" type="submit" form="reservation_form">

        <form action="dash" method="get">
            <button type="submit">Back</button>
        </form>
    </div>
    <h1>Bookings</h1>
    <div id="bookings">
        <% if (bookings.length > 0) { %>
            <div class="booking-row">
                <% bookings.forEach(function(booking) { %>
                <p class="section-box">
                    <strong>Booking ID:</strong> <%= booking.id %><br>
                    <strong>Check-in:</strong>  <%= booking.checkin %><br> 
                    <strong>Check-out: </strong><%= booking.checkout %><br>
                    <strong>Status: </strong><%= booking.bookingstatus %><br>
                    <strong>Room: </strong><%= booking.room %><br>
                    <strong>Adults: </strong><%= booking.adults %><br>
                    <strong>Children: </strong><%= booking.children %></p><br>
                <% }); %>
                
            </div>
            <% } else { %>
            <p>No bookings found.</p>
            <% } %>
    </div>
</body>
</html>


