<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>User Profile</h1>
    <div class="section-box" id="user-data">
        
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>First Name:</strong> <%= user.first_name %></p>
        <p><strong>Last Name:</strong> <%= user.last_name %></p>
        <p><strong>Sex:</strong> <%= user.sex %></p>
        <p><strong>Age:</strong> <%= user.age %></p>
        <p><strong>Contact Number:</strong> <%= user.contact_number %></p>
        <p><strong>Birthday:</strong> <%= user.birthday %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Address:</strong> <%= user.address %></p>
        <p><strong>Active:</strong> <%= user.active.toString('hex') %></p>
    </div>
    <div>
        
    </div>
    <form action="adminDash" method="get">
        <button type="submit">Back</button>
    </form>
</body>
</html>


